 <div class="container main_header">
    <header class="header_content">
        <div>
        <form action="">
            <span class="icon_search"><i class="material-icons">search</i></span>
            <input type="text" name="" placeholder="Pesquisar"/>
        </form>
        </div>
        <img src="assets/img/srm.png" alt="">
    </header>
    <nav>
        <ul>
            <li>
                <div class="button_info">
                    <div class="title_grupo">
                        <p> Grupo Econômico:</p>
                    </div>
                    <div class="botton_options">
                        <p>visao agregada 1 <i class="material-icons">keyboard_arrow_down</i></p>
                    </div>
                    <ul class="botton_users">
                        <li data-dropdown ><a><i class="material-icons">person</i>Michel Angelis<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="dropdown-menu">
                            <li href="#"><a>item1</a></li>
                            <li href="#"><a>item2</a></li>
                            <li href="#"><a>item3</a></li>
                        </ul>
                    </li>
                    </ul>
                    <div class="botton_count">
                        <i class="material-icons"> notifications</i>
                        <span class="number"> 3</span>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
