  <ul class="menu_links">
      <li class="li-painel"><i class="material-icons">language</i>Painel de Gestão</li>
      <li class="li-conta"><i class="material-icons">alternate_email</i>Conta Digital</li>
      <li data-menulateral ><i class="material-icons">sync</i>Ant. de Recebíveis <i class="material-icons ">navigate_next</i>
          <ul class="sub-menu-lateral"  >
                  <li *ngFor="let item of items" href="#" (click)="clicked"><a>{{ item.nome }}</a></li>
          </ul>
      </li>
  </ul>

