.main_content_right{
  width: 85%;

  }
  .link_nav{
    display: flex;
    padding: 20px;
    color: #999;
    font-size: 14px;
  }
  .link_nav li{
    margin-left: 10px;
  }
  .main_content_produto{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;

  }
  .main_content_title_produto{
    display: flex;
    align-items: center;

  }
  .main_content_produto h1{
    margin-left: 30px;
    color: #17283f;
    font-size: 30px;
    font-weight: 300;
  }
  .main_content_produto .main_content_title_produto{
    margin-right: 20px;
    color: #999;
  }
  .produtos_liste{
    border: 1px solid #6897ce;
    padding: 10px;
    margin-left: 10px;

  }
  .main_box{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    margin: 20px;
  }
  /* ATALHOS */
  .main_content_box_atalhos{
    flex: 1 1 500px;
    background: #fff;
    border: 1px solid #eee;
    margin: 10px;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  }
  .main_content_box_atalhos h1{
  font-size: 18px;
  color: #999;
  font-weight: 400;
  padding: 30px;
  }
  .operacional{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #eee;
    background-color: white;
    margin-bottom: 40px;
  }
  .operacional_envio{
    flex: 1 1 270px;
    line-height: 30px;
  }
  .operacional_envio ul li{
    border: 1px solid #6897ce;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
  }
  .operacional_envio  h2{
    color: #999;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 300;
  }
  .operacional_assinatura{
    flex: 1 1 270px;
    line-height: 30px;
    margin-top: 30px;
  }
  .operacional_assinatura ul li{
    border: 1px solid #6897ce;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
  }
  .operacional_geral{
    flex: 1 1 270px;
    line-height: 30px;
    border-left: 1px solid #eee;
  }
  .operacional_geral ul li{
    border: 1px solid #6897ce;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
  }
  .operacional_geral  h2{
    color: #999;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 300;
  }

  /* ALERTAS */
  .main_content_box_alertas{
    flex: 1 1 250px;
    background: #fff;
    border: 1px solid #eee;
    margin: 10px;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  }
  .main_header_alert_title{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .alertas_content{
    font-weight: 300;
    padding: 10px;
  }
  .main_header_alert_title h1{
    font-size: 18px;
    color: #6897ce;
    font-weight: 400;
    margin-left: 10px;
    padding: 20px;
  }

  .main_header_alert_title p{
    font-size: 15px;
    color: #999;
    padding: 20px;
    font-weight: 300;
  }
  .alertas_content_total_notas{
    font-size: 15px;
    color: #999;
    padding: 20px;
    font-weight: 300;
    border-bottom: 1px solid #eee;
  }
  .alertas_content_notas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  }
  .alertas_content_notas p{
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-left: 10px;
    padding: 20px;
  }

  .alertas_content_notas [data-acoes]{
    border: 1px solid #6897ce;
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-right: 10px;
    padding: 6px 35px;
  }
  .alertas_content_notas ul li{
    font-size: 15px;
    color: #999;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }
  .alertas_content_notas ul li .material-icons{
     vertical-align: middle;
  }
  .alertas_content_assinaturas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  }
  .alertas_content_assinaturas p{
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-left: 10px;
    padding: 20px;
  }
  .alertas_content_assinaturas ul li{
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-right: 10px;
    padding: 10px 35px;
    border: 1px solid #6897ce;
  }
