<ul class="link_nav">
  <li>Página Inicial</li>
  <i class="material-icons">navigate_next</i>
  <li>Painel de Gestão</li>
</ul>
<div class="main_content_produto">
  <h1>
    <i class="material-icons">language</i>Painel de Gestão</h1>
  <div class="main_content_title_produto">
    <p> Porodutos:</p>
    <div class="produtos_liste">
      <p> Todos
        <i class="material-icons">keyboard_arrow_down</i>
      </p>
    </div>
  </div>
</div>
<div class="main_box">
  <div class="main_content_box_atalhos">
    <h1>Atalhos</h1>
    <div class="operacional">
      <div class="operacional_envio">
        <h2>Operacional</h2>
        <ul>
          <li>Envio</li>
          <li>Envio de Duplicata</li>
          <li>Nova Operações</li>
        </ul>
      </div>
      <div class="operacional_assinatura">
        <ul>
          <li>Assinatura</li>
          <li>Assinatura Digital</li>
        </ul>
      </div>
      <div class="operacional_geral">
        <h2>Geral</h2>
        <ul>
          <li>Carteira</li>
          <li>Instruções</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_content_box_alertas">
    <div class="main_header_alert_title">
      <h1>Alertas</h1>
      <p>Ultimos 5 dias</p>
    </div>
    <div class="alertas_content">
      <div class="alertas_content">
        <p class="alertas_content_total_notas">23 Notas Canceladas</p>
        <div class="alertas_content_notas">
          <p>13 Notas Canceladas</p>
          <ul>
            <li data-acoes>Ações
              <i class="material-icons">keyboard_arrow_down</i>
              <ul class="dropdown-menu">
                <li href="#">
                  <a>Ações 1</a>
                </li>
                <li href="#">
                  <a>Ações 2</a>
                </li>
                <li href="#">
                  <a>Ações 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="alertas_content_assinaturas">
          <p>7 Assinaturas Digital</p>
          <ul>
            <li>Ações
              <i class="material-icons">keyboard_arrow_down</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
